chart-studio==1.0.0
dash==1.8.0
dash-auth==1.2.0
dash-bootstrap-components==0.8.2
dash-core-components==1.7.0
dash-html-components==1.0.2
dash-renderer==1.2.3
dash-table==4.6.0
dask==2.5.2
docutils==0.15.2
emoji==0.5.4
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
heroku==0.1.4
html5lib==1.0.1
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
matplotlib==3.1.2
nltk==3.4.5
numpy==1.17.2
numpydoc==0.9.1
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.0
pandas==0.25.1
plotly==4.4.1
psutil==5.6.3
regex==2020.1.8
requests==2.22.0
requests-oauthlib==1.3.0
scipy==1.3.1
seaborn==0.9.0
statsmodels==0.10.1
ua-parser==0.8.0
unicodecsv==0.14.1
urllib3==1.24.2
wcwidth==0.1.7
widgetsnbextension==3.5.1
wordcloud==1.6.0

